.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #301e4e;
  align-content: center;
  justify-items: center;
}

.btns {
  padding: 1rem;
  border-radius: 1rem;
  background: #ff6e6c;
}

button > img{
  height: 30px;
}

#textField {
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 1rem;
  border-radius: 1rem;
  background: #ff6e6c;
  height: 600px;
  width: 80%;
  border: solid 1px;
  overflow: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: #ff6e6c;
}

#imgFile {
  display: none;
}

#textField > img {
  max-width: 80%;
}
